<h2>Switch Case integer value</h2>
<div [ngSwitch]="value">
  <div *ngSwitchCase="1">Value is 1</div>
  <div *ngSwitchCase="2">Value is 2</div>
  <div *ngSwitchCase="3">Value is 3</div>
  <div *ngSwitchCase="4">Value is 4</div>
  <div *ngSwitchCase="5">Value is 5</div>
  <div *ngSwitchDefault>Default value</div>
</div>
<h2>Switch Case String value</h2>
<div [ngSwitch]="str">
  <div *ngSwitchCase="'one'">Value is one</div>
  <div *ngSwitchCase="'two'">Value is two</div>
  <div *ngSwitchCase="'three'">Value is three</div>
  <div *ngSwitchCase="'four'">Value is four</div>
  <div *ngSwitchCase="'five'">Value is five</div>
  <div *ngSwitchDefault>Default value for string switch</div>
</div>
<p>-------------------------------------------------------------</p>
<app-loop></app-loop>
<p>-------------------------------------------------------------</p>
<app-dynamic-style></app-dynamic-style>
<p>-------------------------------------------------------------</p>
<app-class-name-set></app-class-name-set>
<router-outlet></router-outlet>